git+https://github.com/hackenbergstefan/cwtoolbox.git@v0.10.8#egg=cwtoolbox
ipykernel
jupyter
plotly
ruff
numba
h5py
scikit-learn
matplotlib
progressbar2

# Chipwhisperer dependencies
configobj
cython
ecpy
libusb1
pyserial
